extends layout

block content
  h1 Express Blog
  hr
  .row
    each post in blogs
      div.panel.panel-default
        div.panel-heading
          h4.panel-info.panel-title= post.title
        div.panel-body= post.bodyBlog.substr(0, 150) + ' '
          a(href=`blog/${post.slug}/show`, role='button') Read more »
        div.panel-footer
          p= "Published " + moment(post.publishedAt).format('LLL')
