extends layout

block content
  h1 Express Blog
  hr
  .row
    each post in blogs
      div.panel.panel-default
        div.panel-heading
          h4.panel-info.panel-title= post.title
        div.panel-body= post.bodyBlog
        div.panel-footer
          a.btn.btn-default(href=`blog/${post.slug}`, role='button') View details »