extends ../layout

block content
    .page-header
        h3 Edit Article

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-2.control-label(for='title') Title
            .col-sm-8
                input.form-control(type='text', name='title', id='title', value=blog.title)
        .form-group
            label.col-sm-2.control-label(for='bodyBlog') Text
            .col-sm-8
                textarea.form-control(name='bodyBlog', id='bodyBlog', rows='7')=blog.bodyBlog
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                    i.fa.fa-pencil
                    | Update Article
