extends ../layout

block content
    h1 Express Blog
    hr
    div.panel.panel-default
        div.panel-heading
            h4.panel-info.panel-title= post.title
        div.panel-body= post.bodyBlog
